@mixin banner-image {
  background-color: black;
  color: $white;
  height: 50vh;
  width: 100vw;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  & .content {
    text-align: center;

    & span {
      font-weight: bolder;
      color: transparent;
      -webkit-text-stroke: 0.1rem $white;
      font-size: 4vw;
      display: block;
    }

    & h3 {
      font-size: 4vw;
      color: $white;
    }
  }
}

.bg-baguio {
  // background-image: url("../images/baguio2.jpg");
  background: linear-gradient($black-bg, $black-bg), url(../images/baguio2.jpg);
  @include banner-image;
}
.bg-bataan {
  background: linear-gradient($black-bg, $black-bg), url(../images/bataan4.jpg);
  @include banner-image;
}

.bg-bicol {
  background: linear-gradient($black-bg, $black-bg), url(../images/bicolCagsawa.jpg);
  @include banner-image;
}

.bg-boracay {
  background: linear-gradient($black-bg, $black-bg), url(../images/bora3.jpg);
  @include banner-image;
}

.bg-cebu {
  background: linear-gradient($black-bg, $black-bg), url(../images/cebu1.jpg);
  @include banner-image;
}

.bg-ilocossur {
  background: linear-gradient($black-bg, $black-bg), url(../images/ilocossur1.jpg);
  @include banner-image;
}

.bg-ilocosnorte {
  background: linear-gradient($black-bg, $black-bg), url(../images/ilocosnorte3.jpg);
  @include banner-image;
}

.bg-manila {
  background: linear-gradient($black-bg, $black-bg), url(../images/manila3.jpg);
  @include banner-image;
}

.bg-mindoro {
  background: linear-gradient($black-bg, $black-bg), url(../images/mindoro2.jpg);
  @include banner-image;
}

.bg-palawan {
  background: linear-gradient($black-bg, $black-bg), url(../images/palawan3.jpg);
  @include banner-image;
}

.bg-siargao {
  background: linear-gradient($black-bg, $black-bg), url(../images/siargao3.jpg);
  @include banner-image;
}

#margin {
  margin-top: 2rem;
}

#it-img {
  height: 55vh;
}

form {
  & .form-input {
    height: 50px;
    font-size: 15px;
  }
}

#font-form {
  font-size: 15px;
}

.addOns {
  img {
    border-radius: 10px;
    height: 30vh;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.tab {
  overflow: hidden;
  background-color: $white;
  & button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    &:hover {
      background-color: #ddd;
    }
  }
  & button.active {
    background-color: #ccc;
  }
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid $white;
  border-top: none;
}

.btn-form {
  color: $white;
  &:hover {
    color: $blue;
  }
}
